.plusSector  {
    outline: 0;
    border: 1px solid var(--color-success);
    border-radius: 5px;
    margin-bottom: 0;
    background-color: #fff;
    cursor: pointer;
    transition: opacity 0.2s;

    display: flex;
    align-items: center;
    justify-self: center;
}

.plusSector img,
.plusSector  {
    height: 25px;
    width: 25px;
}

.plusSector img:hover {
    opacity: 0.6;
}