/* DESKTOP */ 

.page-header {
    height: 405px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.page-header .top-bar-container {
    width: 100%;
    padding: 1.6rem;
    background-color: var(--color-primary-dark);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .top-bar-container a {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .header-content {

    width: 90%;
    flex: 1;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page-header .header-content strong {
    font: 700 4.7rem 'Poppins';
    max-width: 670px;
    line-height: 4.2rem;
    color: #fff
}
