#page-patrimony-home {
    width: 100vw;
    max-width: 1100vw;
    height: 100vh;

}

#page-patrimony-home .page-patrimony-header {
    height: 470px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

#page-patrimony-home .page-patrimony-header .top-bar-container {
    width: 100%;
    padding: 1.6rem;
    font: 700 2.4rem 'Poppins';
    color: #fff;
    background-color: var(--color-primary-dark);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header .top-bar-container span {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    transition: opacity 0.2s;
}

#page-patrimony-home .page-patrimony-header .header-content {

    width: 90%;
    flex: 1;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#page-patrimony-home .page-patrimony-header .header-content strong {
    font: 700 8.7rem 'Poppins';
    line-height: 4.2rem;
    color: #fff
}

#page-patrimony-home main {
    height: 405px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}


#page-patrimony-home main .link-block {
    display: grid;
    grid-template-areas: "new search update";
    column-gap: 30px;
}

#page-patrimony-home main .link-block > :nth-child(1) {
    background-color: var(--color-success);
}

#page-patrimony-home main .link-block > :nth-child(2) {
    background-color: var(--color-primary);
}

#page-patrimony-home main .link-block > :nth-child(3) {
    background-color: var(--color-danger);
}

#page-patrimony-home main .link-block a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 9.9rem;
    max-width: 427px;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid var(--color-border-input);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    outline: 0;
    padding: 0 1.6rem;
    color: #fff;
    font: 2.6rem 'Archivo';
}