@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Regular.ttf');
    font-style: normal;
}

:root {
    --color-primary: #396CB9;
    --color-secondary: rgba(35, 86, 217, 1);
    --color-secondary-dark: rgba(41, 70, 143, 1);
    --color-background-light: #E5E1E1;
    --color-gray: #CCC9C9;
    --color-input: #706161;
    --color-sucess: #30BC35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--color-background-light);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}