.stabiliser-block {
    display: grid;
    grid-template-areas: "patrimony model void"
    "description description description";
    grid-template-columns: 175px 245px 1fr;
    column-gap: 30px;
}

.stabiliser-block > :nth-child(1) {
    grid-area: patrimony;
}

.stabiliser-block > :nth-child(2) {
    grid-area: model;
}

.stabiliser-block > :nth-child(3) {
    grid-area: description;
}