.patrimony-item {
    padding: 3.4rem;
    background-color: #fff;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: 0 auto;
}

.patrimony-item + .patrimony-item {
    margin-top: 3rem;
}

.patrimony-item .patrimony-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-border-input);
}

.patrimony-item .patrimony-header h2 {
    font: 3rem'Archivo';
}

.patrimony-item .patrimony-header span {
    font: 3rem'Archivo';
    color: var(--color-primary-dark);
}

.patrimony-item .patrimony-content {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
    font: 2rem 'Poppins';
}

.patrimony-item .patrimony-content .info h3  {
    font: 2.2rem 'Poppins' 600;
    
    margin-bottom: 1rem;
}

.patrimony-item .patrimony-content .info p span {
    color: var(--color-primary);
}

.patrimony-item .patrimony-content .patrimony-action {
    align-self: flex-end;
}

.patrimony-item .patrimony-content .patrimony-action > :nth-child(2) {
    margin-left: 2rem;
}

