#page-computer-form {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
}

#page-computer-form .page-header .header-content {
    margin-bottom: 6.4rem;
    margin-bottom: 0;
}

#page-computer-form main {
    background-color: #fff;
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -8.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

#page-computer-form main fieldset {
    border: 0;
    padding: 0 3.4rem;
}

#page-computer-form main fieldset + fieldset {
    margin-top: 6.4rem;
}

#page-computer-form main fieldset .computer-items{
    display: grid;
    grid-template-columns: 179px 179px 210px;
    grid-template-areas: "sector patrimony user"
    "textarea textarea textarea";
    justify-content: space-between;
}

#page-computer-form main fieldset .computer-items-ip .ip-items,
#page-computer-form main fieldset .monitor-items {
    display: grid;
    grid-template-columns: 179px 179px 210px;
    grid-template-areas: "col col col";
    justify-content: space-between; 
}

#page-computer-form main fieldset .computer-items .textarea-block {
    grid-area: textarea;
    margin-bottom: 2rem;
}


#page-computer-form main fieldset legend,
#page-computer-form main fieldset .computer-items-ip .legend {
    font: 600 2.4rem Archivo;
    color: #000;
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2.6rem;
    border-bottom: 1px solid var(--color-gray);
}

#page-computer-form main fieldset .form-computer-ip .legend {
    font-size: 2rem;
    color: var(--color-input);
}


#page-computer-form main fieldset .computer-items-ip .legend button,
#page-computer-form main fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    transition: color 0.2s;
}

#page-computer-form main fieldset .computer-items-ip .legend button:hover,
#page-computer-form main fieldset legend button:hover {
    color: #000;
}

#page-computer-form main fieldset .printer-item {
    display: grid;
    grid-template-columns: 179px 179px 210px;
    grid-template-areas: "patrimony model espace"
    "ip mask gateway";
    justify-content: space-between; 

}

#page-computer-form main fieldset .input-block + .textarea-block {
    margin-top: 2.4rem; 
}

#page-computer-form main fieldset .select-block + .input-block {
    margin-top: 2.4rem; 
}

#page-computer-form main form footer {
    width: 100%;
    padding: 4rem;
    background: var(--color-gray);
    border-top: 1px solid var(--color-gray);
    margin-top: 6.4rem; 

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#page-computer-form main footer button {
    grid-area: button;
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secondary);
    color: #fff;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content:  center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 0rem;
}

