/* DESKTOP */

#page-computer-form {
    width: 100vw;
    /* height: 100vh; */
    max-width: 1100vw;

    background-color: var(--color-background-form);
}

#page-computer-form main {
    background-color: #fff;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -8.2rem auto 3.2rem;
    padding-top: 3.4rem;
    overflow: hidden;
}


#page-computer-form main .computer-item {
    display: grid;
    grid-template-columns: 175px 242px 1fr;
    grid-template-areas: "computer model void"
    "textarea textarea textarea";
    column-gap: 53px;
}

#page-computer-form main .computer-item > :nth-child(1) {
    grid-area: computer;
}

#page-computer-form main .computer-item > :nth-child(2) {
    grid-area: model;
}

#page-computer-form main .computer-item > :nth-child(3) {
    grid-area: textarea;
}

#page-computer-form main .input-block + .textarea-block {
    margin-top: 2.4rem; 
}

/* IPS */

#page-computer-form main .ips .legend {
    margin-top: 2.4rem;
    font: 600 2rem 'Archivo';
    color: var(--color-label-input);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2.6rem;
    border-bottom: 1px solid var(--color-border-input);
}

#page-computer-form main .ips .legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    transition: color 0.2s;
}

#page-computer-form main .ips .legend button:hover {
    color: #000;
}

#page-computer-form main .ips .ip-items {
    display: grid;
    grid-template-columns: 201px 201px 201px;
    grid-template-areas: "ip mask gateway";
    justify-content: space-between; 
}

#page-computer-form main .ips .input-block {
    margin-top: 2.4rem;
}




