/* DESKTOP */

#page-computer-form {
    width: 100vw;
    height: 100vh;

    background-color: var(--color-background-form);
}

#page-computer-form .main-block > :nth-child(3) legend {
    font: 600 2rem 'Archivo';
    color: var(--color-label-input);
}







