.form-block fieldset {
    border: 0;
    padding: 3.4rem;
}

.form-block fieldset + fieldset {
    margin-top: 6.4rem;
}

.form-block fieldset legend {
    font: 600 2.4rem 'Archivo';
    color: #000;
    /* margin-bottom: 2.4rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2.6rem;
    border-bottom: 1px solid var(--color-border-input);
}
