.dialog-new-sector .dialog-block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 999;
}

.dialog-new-sector .dialog-block:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 999;
  
    /* fade in */
    transition: opacity 0.2s ease-in-out;
}
/* show the dialog in the center of the screen */
.dialog-new-sector .dialog-block .dialog-content {
    box-sizing: border-box;
    /* maintain on screen even during scroll (potentially problematic on mobile) */
    position: fixed;
    /* when centering, try using FlexBox instead of this junk */
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    transform: translate3d(-50%,-50%,0);
  
    /* dialogs are usually boxy things that are on top of everything */
    padding: 20px;
    border: 1px solid #CCC;
    background: white;
    z-index: 1000;
  
    /* zoom in from the center */
    transition: transform 0.2s ease-in-out;
}

.dialog-new-sector .dialog-block .dialog-content {
    display: grid;
    align-items: center;
    
}


.dialog-new-sector .dialog-block .dialog-content .save-dialog,
.dialog-new-sector .dialog-block .dialog-content .close-dialog {
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 0.8rem;
}

.dialog-new-sector .dialog-block .dialog-content .close-dialog {
    background-color: #fff;
    color: var(--color-label-input);
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-new-sector .dialog-block .dialog-content .close-dialog img {
    transition: opacity 0.2s;
    color: #fff;
}

.dialog-new-sector .dialog-block .dialog-content .close-dialog img:hover {
    opacity: 0.6;
}

.dialog-new-sector .dialog-block .dialog-content .save-dialog {
    background-color: var(--color-success);
    padding: 0.8rem;
}

.dialog-new-sector .dialog-block .dialog-content .select-block label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label plus";
}




