#page-patrimony-list {
    width: 100vw;
}

#page-patrimony-list .page-header .header-content {
    margin: 5rem auto;
    justify-content: flex-start;
}

#page-patrimony-list  .search-block {
    max-width: 74rem;
    margin: -18.4rem auto 0;
    display: grid;
    grid-template-columns: 250px 250px 190px;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#page-patrimony-list .search-block label {
    color: #fff;
}

#page-patrimony-list .patrimony-item:last-child {
    margin-bottom: 3rem;
}

#page-patrimony-list .pagination-block {
    
}
