.footer-block {
    height: 138px;
    background-color: var(--color-border-input);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-block .footer-content {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin: 0 auto;
    flex: 1;
}

