#page-patrimony-form {
    width: 100vw;
}

#page-patrimony-form .new-owner-block {
    display: grid;
    grid-template-columns: 300px 300px;
    height: 100%;
    grid-template-areas: "owner sector";
    justify-content: space-between;
    align-items: center;
}

#page-patrimony-form .new-owner-block > :nth-child(2) {
    grid-area: sector;
}

#page-patrimony-form .new-owner-block > :nth-child(3) {
    grid-area: sector;
}

#page-patrimony-form .owner-block {
    display: grid;
    grid-template-areas: "owner sector";
    grid-template-columns: 300px 300px;
    justify-content: space-between;
    align-items: center;
}

#page-patrimony-form .patrimony-block {
    display: grid;
    grid-template-areas: "type patrimony model"
        "description description description";
    grid-template-columns: repeat(3, 200px);
    justify-content: space-between;
}

#page-patrimony-form .patrimony-block > :nth-child(1) {
    grid-area: type;
    justify-self: flex-end;
    align-self: center; 
}

#page-patrimony-form .patrimony-block > :nth-child(3) {
    grid-area: type;
}

#page-patrimony-form .patrimony-block > :nth-child(4) {
    grid-area: patrimony;
}

#page-patrimony-form .patrimony-block > :nth-child(5) {
    grid-area: model;
}


#page-patrimony-form .patrimony-block > :nth-child(6) {
    margin-top: 2.4rem;
    grid-area: description;
}

#page-patrimony-form .footer-block button {
    width: 23.1rem;
    height: 5.4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--color-border-input);
    background-color: var(--color-primary);
    color: #fff;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem 'Archivo';
    cursor: pointer;
}

#page-patrimony-form .button-collapse {
    background-color: #fff;
    color: white;
    cursor: pointer;
    padding: 1.2rem 3.4rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.6rem;
    color: #fff;
    background-color: #777;
  }
    