.monitor-item  {
    display: grid;
    grid-template-columns: 175px 175px 175px;
    grid-template-areas: "patrimony model inch"
    "description description description";
    justify-content: space-between;
}

.monitor-item + .monitor-item {
    margin-top: 2.4rem;
}

.monitor-item > :nth-child(4) {
    grid-area: description;
}
